<!--James Clark's About Page-->
<!--Front End: Roy Telles & Sam Zheng-->
{%extends "IndAbout.html" %}

{%block name%}
James Clark
{%endblock%}

{%block image%}
<img src="/static/About/James.jpg" class="img-responsive img-circle margin" style="display:inline" width="350" height="350">
{%endblock%}

{%block title%}
<h3>Team Lead</h3>
{%endblock%}

{%block bio%}
<p>I am a fifth-year student at San Francisco State University pursuing a Bachelor of Science in Computer Science with a Mathematics minor. </p>
{%endblock%}

{% block contact %}
<p>Email: jclark1@mail.sfsu.edu</p>
<p>GitHub: github.com/t8ortot</p>
<p>LinkedIn: linkedin.com/in/james-clark-798091148/ </p>
{%endblock%}
