<!--Patrick Coico's About Page-->
<!--Front End: Roy Telles & Sam Zheng-->
{%extends "IndAbout.html" %}

{%block name%}
Patrick Coico
{%endblock%}

{%block image%}
<img src="/static/About/PatrickCoico.jpeg" class="img-responsive img-circle margin" style="display:inline" width="350" height="350">
{%endblock%}

{%block title%}
<h3>Backend Lead</h3>
{%endblock%}

{%block bio%}
<p>I'm a transfer student here at San Francisco State University, going into my senior year as an undergraduate. I'm pursuing a Bachelor's in Computer Science with a minor in Mathematics. </p>
{%endblock%}

{% block contact %}
<p>Email: PCoico@mail.sfsu.edu</p>
<p>GitHub: PCoico219</p>
{%endblock%}
