<!--Main About Page-->
<!--Contains information and links to everyone's bios.-->
<!--Front End: Roy Telles & Sam Zheng-->
<!--Back End: Jenny Cai, Mike Lama, Patrick Coico-->

{%extends "WPLayout.html" %}
{%block banner%}
<!-- TITLE for about us within the banner -->
<header class="card-header">
  <h2 class="card-title mt-2">About Us!</h4>
  </header>
  {%endblock%}
  {%block body%}
  <div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
        </div>
        <div class="col-sm-8 text-left">
            <center><p>We are Team 2 in CSC 648 during the 2018 Summer session</p></center>
            <center><p>at San Francisco State University.</p></center>

            <!-- ABOUT US format -->
            <!--
              PROFILE IMAGE
              NAME
              ROLE
          -->
          <hr>
          <center><img src="/static/About/James.jpg" class="img-responsive img-circle margin" style="display:inline" width="350"
           height="350"></center>
           <center><h3><a href="/About/James">James Clark</a></h3></center>
           <center><p>Team Lead</p></center>
           <hr>
           <center><img src="/static/About/RoyTelles.jpg" class="img-responsive img-circle margin" style="display:inline" width="350"
               height="350"></center>
               <center><h3><a href="/About/Roy">Roy Telles</a></h3></center>
               <center><p>Front End Lead</p></center>
               <hr>
               <center><img src="/static/About/PatrickCoico.jpeg" class="img-responsive img-circle margin" style="display:inline" width="350"
                   height="350"></center>
                   <center><h3><a href="/About/Patrick">Patrick Coico</a></h3></center>
                   <center><p>Back End Lead</p></center>
                   <hr>
                   <center><img src="/static/About/DandanCai.jpg" class="img-responsive img-circle margin" style="display:inline" width="350"
                       height="350"></center>
                       <center><h3><a href="/About/Jenny">Jenny Cai</a></h3></center>
                       <center><p>Back End</p></center>
                       <hr>
                       <center><img src="/static/About/Michael.jpg" class="img-responsive img-circle margin" style="display:inline" width="350"
                           height="350"></center>
                           <center><h3><a href="/About/Michael">Mike Lama</a></h3></center>
                           <center><p>Back End</p></center>
                           <hr>
                           <center><img src="/static/About/samz.jpg" class="img-responsive img-circle margin" style="display:inline" width="350"
                               height="350"></center>
                               <center><h3><a href="/About/Sam">Sam Zheng</a></h3></center>
                               <center><p>Front End</p></center>
                           </div>
                           <div class="col-sm-2 sidenav">

                           </div>
                       </div>
                   </div>
                   {%endblock%}
