<!--
This is the banner to be utilized on the Home and Result page.
This file contains the logo and the Search bar code.
  AUTHORED BY: Roy Telles, Jr.

-->

{%extends "WPLayout.html" %}
{%block banner%}
<!-- SITE NAME AND LOGO -->
<!-- <img src="{{ url_for('static', filename='NoRingsPurple.jpg') }}" class="img-responsive img-circle margin" style="display:inline" alt="Shallot" width="250" height="250" margin-bottom: "0px"> -->
<a href="http://worldpieces.net">
  <img src="{{ url_for('static', filename='ShallotPurple.png') }}" class="img-responsive margin" style="display:inline" alt="ShallotLogo" width="645" height="300" margin-bottom: "0px">
</a>
<!-- END site name and logo -->
<!-- SITE MOTTO -->
<center>
  <h4>
    <i><font color="Black"> World Pieces </font>
    </i>
  </h4>
</center>
<!-- END site motto -->
{%endblock%}
