<!--Template for Individual About Pages-->
<!--Front End: Roy Telles & Sam Zheng-->
<!--Back End: Jenny Cai, Mike Lama, Patrick Coico-->

{%extends "ShallotLayout/shallotLayout.html"%}

{%block body%}

<!-- change title to name -->
<title>
  {%block name%}
  {%block banner%}
  <h3 class="margin">{{ self.name() }}</h3>
  {%endblock%}
  {%endblock%}
</title>




<!-- First Container: Name and Image-->
<div class="container-fluid bg-1 text-center">
  <!--<h3 class="margin">James Clark</h3>-->
  {%block image%}
  <!--
  <img src="James.jpg" class="img-responsive img-circle margin" style="display:inline" width="350" height="350">
-->
{%endblock%}
{%block title%}
  <!--
  <h3>Team Lead</h3>
-->
{%endblock%}
</div>

<!-- Second Container: Bio -->
<div class="container-fluid bg-2 text-center">
  <h3 class="margin">Biography</h3>
  {% block bio %}
  <!--
  <p>I am a fourth-year student at San Francisco State University pursuing a Bachelor of Science in Computer Science with a Mathematics minor. </p>
-->
{%endblock%}
</div>

<!-- Third Container (Grid): Contact Info-->
<div class="container-fluid bg-3 text-center">
  <h3 class="margin">Contact</h3><br>


  <div class="row">

    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      {% block contact %}
      <!--
      <p>Email: jclark1@mail.sfsu.edu</p>
      <p>GitHub: t8ortot</p>
    -->
    {%endblock%}

  </div>

  <div class="col-sm-4">

  </div>
</div>

</div>
{%endblock%}
