<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="js/snapfit.js"></script>
</head>
<body>
    <center>
        <img id="bridge" onLoad="snapfit.defaultSimple=true; snapfit.defaultLevel = 0; snapfit.defaultPolygon=true; snapfit.defaultAreaimage = true; snapfit.add(this)" width="600" height="400" src="img/ggbridge.png">
    <button type="button" onclick="snapfit.admix(document.getElementById('bridge'));">Admix</button>
    <button type="button" onclick="snapfit.solve(document.getElementById('bridge'));">Solve</button>
    </center>
</body>
</html>