<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../static/js/snapfit.js"></script>
</head>
<body>
    <center>
        <img id="bridge"
             onLoad="snapfit.defaultSimple=true; snapfit.defaultMixed=true; snapfit.defaultCallback=function() {alert('You solved the puzzle!'); document.getElementById('next').disabled = false;}; snapfit.defaultNokeys=true; snapfit.defaultLevel = 0; snapfit.defaultPolygon=true; snapfit.defaultAreaimage=true; snapfit.add(this)"
             width="800" height="600" src="../static/img/california.png">
    </center>
    <center>
        <button onclick="window.location.href='https://stackoverflow.com/questions/2906582/how-to-create-an-html-button-that-acts-like-a-link'"id="next" type="button" onclick="snapfit.admix(document.getElementById('bridge'), true);" disabled>Next</button>
    </center>
</body>
</html>