<!--
This is the banner to be utilized on the Home and Result page.
This file contains the logo and the Search bar code.
  AUTHORED BY: Roy Telles, Jr.

-->

{%extends "WPLayout.html" %}
{%block banner%}
<!-- SITE NAME AND LOGO -->
<!-- <img src="{{ url_for('static', filename='NoRingsPurple.jpg') }}" class="img-responsive img-circle margin" style="display:inline" alt="Shallot" width="250" height="250" margin-bottom: "0px"> -->
<a href="http://worldpieces.net">
  <img src="{{ url_for('static', filename='img/logo.png') }}" class="img-responsive margin" style="display:inline;width:450px;height:350px;" alt="WorldPiecesLogo"  margin-bottom: "0px">
</a>
<!-- END site name and logo -->
<!-- SITE MOTTO -->
<center>
  <h4>
    <!--<i><font color="Black"> World Pieces </font>
    </i> -->
  </h4>
</center>
<!-- END site motto -->
{%endblock%}
{%block body%}
<body>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis eleifend turpis, id interdum augue varius et. Cras tristique ex a massa ultrices, sed fringilla eros efficitur. Maecenas molestie nisl nec accumsan cursus. Maecenas a tristique magna. Morbi sodales ante id enim vulputate, ut eleifend enim varius. Ut diam tellus, dignissim a posuere id, venenatis vel libero. Donec volutpat ut nisi id cursus. Quisque lacus erat, aliquet ut eros nec, imperdiet consequat elit. 
</body>
{%endblock%}

