<!--
This is the parent layout for the entire site. All pages extend this file.
This adds the nav-bar and footer to all pages.
  AUTHORED BY: Roy Telles, Jr.

-->


<!DOCTYPE html>
<!-- THIS IS THE BASE TEMPLATE FOR WEBSITE -->
<html lang="en">
<head>
  <title>World Pieces</title>
  <meta charset="utf-8">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/shallot.css') }}">
  {%block head%}
  {%endblock%}
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/resultImage.css') }}"> -->
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/UploadImage.css') }}"> -->
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/ImagePage.css') }}"> -->
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/shallotHome.css') }}"> -->
  <!-- TRENDING script -->
  <!-- <script src="{{url_for('static', filename='shallotHome.js')}}"></script> -->
  <!-- <script src="{{url_for('static',filename='search.js')}}"></script> -->
</head>
<body>
  <!-- navbar -->
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://worldpieces.net">
          <img src="{{ url_for('static', filename='RingsLightPurple.png') }}" style="float: left; height: 3.8rem; margin-top: -9px;">
        </a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <!-- ABOUT US button/dropdown -->
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/About" onclick="location.assign('/About'),'_top'">Our Team<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/About/James">James Clark</a></li>
              <li><a href="/About/Patrick">Patrick Coico</a></li>
              <li><a href="/About/Angie">Angie Cruz Martinez</a></li>
              <li><a href="/About/Leonard">Leonard Fernando</a></li>
              <li><a href="/About/Zachary">Zachary Martin</a></li>
            </ul>
          </li>
        </ul>
        <!-- Signup/Login buttons -->
        <ul class="nav navbar-nav navbar-right" style="margin-bottom: -6px; margin-top: -2px;">
          <li><a href="/" onclick="location.assign('/'),'_top'"></span> Home </a><li>
            <li><a href="/Team" onclick="location.assign('/Team'),'_top'"></span> Team </a><li>
            </ul>
            <!-- END Signup/Login buttons -->

          </div> <!-- END collapsible -->
        </div>
      </nav>
      <br>
      <div class="container" style="min-height:100% width:80%">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
          {{message}}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <!-- END navbar -->
        <!-- BANNER -->
        <div class="banner container-fluid bg-2 text-center">
          {%block banner%}
          {%endblock%}
        </div>
        <!-- END banner -->

        <!-- CONTENT goes here -->
        <div class="container" style="margin-top: 20px;">

          {%block body%}
          {%endblock%}
        </div>

        <!-- footer -->
        <div id="footer" class="">
          <div class="container">
            <p>Bootstrap Theme Made By <a href="https://www.w3schools.com">www.w3schools.com</a></p>
          </div>
        </div>
        <!-- END footer -->
        <!-- SEARCHBAR script -->
      </body>
     <script>
// This overrides the 'ordered list' functions and turns it into drop down
$(document).ready(function(e){
  $('.search-panel .dropdown-menu').find('a').click(function(e) {
    e.preventDefault();
    var param = $(this).attr("href").replace("#","");
    var concept = $(this).text();
    $('.search-panel span#search_concept').text(concept);
    $('.input-group #search_param').val(param);
  });
});
</script>
</html>
